.item-detail-wrapper {
  display: flex;
  gap: 20px;
}

@media only screen and (max-width: 480px) {
  .item-detail-wrapper {
    flex-direction: column;
  }
}

img {
  width: 200px;
}

.item-detail-details {
  display: flex;
  flex-direction: column;
}

.item-detail-actions {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: flex-end;
}
