.not-found {
  &__container {
    margin-top: 95px;
    text-align: center;
    padding: 20px;
  }

  &__heading {
    font-size: 25px;
    text-transform: uppercase;
    margin-bottom: 15px;
    text-align: center;
  }
}
