@import '../../styles/abstracts/mixins';

.banner {
  &__wrapper {
    background: rgb(169, 208, 217);
    background: linear-gradient(
      0deg,
      rgba(169, 208, 217, 1) 0%,
      rgba(242, 242, 242, 1) 100%
    );
    display: grid;
    grid-template-columns: 2fr 3fr;
    align-items: center;
    height: 100vh;

    .wrapper {
      &__description {
        display: flex;
        flex-direction: column;
        padding-left: 50px;

        h1 {
          color: var(--oxford-blue);
          line-height: 1.6;
          font-size: 30px;
        }
        span {
          color: var(--oxford-blue);
          line-height: 1.6;
        }
        button {
          background-color: var(--oxford-blue);
          color: var(--anti-flash-white);
          width: 150px;
          height: 40px;
          border-radius: 5px;
          border: none;
          margin-top: 20px;
          transition: all 0.5s ease;

          &:hover {
            background-color: var(--anti-flash-white);
            color: var(--oxford-blue);
            transition: all 0.5s ease;
          }
        }
      }
      &__image {
        display: flex;
        justify-content: center;
        img {
          width: 500px;
        }
      }
    }
    @media (max-width: 375px) {
      grid-template-columns: 1fr;
      overflow: hidden;
      .wrapper {
        &__description {
          padding-left: 10px;

          h1 {
            color: var(--oxford-blue);
            line-height: 1.6;
            font-size: 20px;
          }
        }
        &__image {
          img {
            width: 300px;
            position: fixed;
            bottom: 10px;
            left: 150px;
            opacity: 0.6;
          }
        }
      }
    }
  }
}
