header {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  height: 50px;
  padding: 0 20px;
  align-items: center;
  background-color: #ebebeb;
}

.navigation {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.navigation-list {
  display: flex;
  gap: 25px;
}

.navigation-list-item {
  position: relative;
}

.cart-count {
  position: absolute;
  bottom: 10px;
  background: red;
  padding: 3px;
  border-radius: 50%;
  color: white;
  font-size: 10px;
  left: -8px;
  font-family: sans-serif;
}
