@import '../../styles/abstracts/mixins';

header {
  @include display-grid(3fr 1fr 1fr);
  @include box-shadow(
    (0 1px 2px 0 rgba(60, 64, 67, 0.3), 0 2px 6px 2px rgba(60, 64, 67, 0.15))
  );
  padding: 0 20px;
  align-items: center;
  position: fixed;
  right: 0;
  left: 0;
  top: 0;
  background: var(--white);

  .header {
    &__brand {
      a {
        display: inline-block;
      }
    }

    &__logo {
      height: 50px;
      margin: 20px 0;
    }

    &__navigation {
      height: 100%;
      @include display-flex(flex-end, center);
      .navigation {
        &__list {
          @include display-flex();
          gap: 25px;
        }

        &__item {
          position: relative;

          a {
            &:hover {
              color: var(--steel-teal);
            }
          }
        }
      }

      &--mobile {
        display: none;
      }
    }

    &__cart {
      @include display-flex(flex-end);
      position: relative;

      .cart {
        &__count {
          width: 10px;
          text-align: center;
          position: absolute;
          bottom: 13px;
          background: red;
          padding: 3px;
          border-radius: 50%;
          color: white;
          font-size: 10px;
          right: 16px;
          font-family: sans-serif;
        }
      }

      .icon {
        &__cart {
          color: var(--oxford-blue);
        }
      }
    }

    &__mobile-navigation {
      display: none;
    }
  }

  @include respond-below(xs) {
    .header {
      &__logo {
        margin: 10px 0;
        height: 30px;
      }

      &__navigation {
        display: none;

        &--mobile {
          @include display-flex(flex-end);
          z-index: 1;
        }
      }

      &__mobile-navigation {
        @include display-flex(space-evenly, center, column);
        text-align: center;
        position: absolute;
        height: 100vh;
        width: 100%;
        background-color: var(--oxford-blue);
        top: 0;

        .navigation {
          &__item {
            padding: 20px 0;

            a {
              color: var(--crystal);
              &:hover {
                color: var(--anti-flash-white);
              }
            }
          }
        }

        &--active {
          left: 0;
          transition: 0.5s ease-in;
        }

        &--not-active {
          left: -100%;
          transition: 0.5s ease-out;
        }
      }
    }

    .icon {
      &__burger {
        color: var(--oxford-blue);
      }

      &__close {
        color: var(--crystal);
      }
    }
  }
}
