/* Globals */
* {
  margin: 0;
  padding: 0;
  font-family: monospace;
  text-decoration: none;
}

a {
  color: unset;
}

h1 {
  text-align: left;
}

h2 {
  margin-bottom: 10px;
}

/* Inputs */
input {
  margin-bottom: 20px;
  padding: 8px 5px;
  outline: none;
  border: 1px solid black;
}

input:focus {
  border: 1px solid #b01619;
}

.container {
  margin: 20px;
}

/* Buttons */
.btn {
  width: 115px;
  margin: 0 auto;
  background: #af1719;
  border-radius: 5px;
  border: 0;
  padding: 8px 4px;
  cursor: pointer;
  color: white;
  transition: 0.5s ease-in-out;
}

.btn:hover {
  background-color: #af1719c2;
}
